<footer>
    <div class="f-info">
        <div class="f-info-socials center">
            <a href="https://www.facebook.com/people/Abhishek-Sharma/pfbid032DQ5UFnqj42xTdBB9UauNcuQpZyepcjSgtDHCoocUFbS2K9fvV4b7LvKCWWaSjWl" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/abhi.navsharma_" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/abhishek-sharma-655182215" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="center"> &copy; Wanderlust Private Limited</div>
        <div class="f-info-links center">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>